name: Docker Flask API

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Docker
      uses: docker/setup-docker@v2
      with:
        docker-version: '20.10.0'  # Specify the Docker version you need

    - name: Build and push Docker image
      run: |
        docker build -t regression-app:latest .
        docker push regression-app:latest
